@import url('https://fonts.googleapis.com/css?family=Raleway');
@font-face {
    font-family: NanumSR;
    src: url(font/NanumSquareR.woff);
}



body {
	margin: 0;
	font-family: 'NanumSR', sans-serif;
	display:none;
}

.main-container{
	margin: 0 auto;
	text-align: center;
}

.main-container .main-header {
	font-size: 72px;
	margin: 36px;
	color: #444444;
}
.main-container .main-header a{
	text-decoration: none;
	color: #444444;
}

.title {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}

.title p{
	color: #686868;
	font-size: 30px;
	text-align: left;
}

.main-bar{
	padding: 12px 48px;
	background-color: #efefef;
	position: relative;
	overflow: hidden;

}
.main-bar a{
	text-decoration: none;
	color:#444444;
	float: right;
	display: inline-block;
}

.left-image{
	width: 420px;
	height: 420px;
	margin: 0 60px 0 220px;
	background-image: url("flower1.jpg");
	background-position: center center;
	background-size: auto 420px;
	display: inline-block;
	text-align: center;
	float: left;
	
}

.right-login{
	width: 500px;
	overflow: hidden;
    padding-top: 10px;
}

.margin-top{
	margin-top: 15px;
}

.right-login 
.jjoin,
.jjoin2,
.jjoin3,
.jjoin4,
.jjoin5		{
	float: left;
	width: 150px;
	text-align: left;
}

input.address{
	width:320px;
}
	
.login-container {
	margin:0 auto;
	width: 1280px;
	margin-top: 48px;
	margin-bottom: 40px;
}


.btn-login button{
	display: inline-block;
	margin-top: 36px;
	margin-left: 20px;
	padding:20px 160px;
	border: 0px solid;
	cursor: pointer;
	background-color: #7591FF;
	color: #ffffff;
	font-size: 16px;
	
}
.btn-login button:hover{
	display: inline-block;
	margin-top: 36px;
	padding:20px 160px;
	border: 0px solid;
	background-color: #6A82E6;
	cursor: pointer;
	color: #ffffff;
	font-size: 16px;
	transition: 0.5s;
}

.footer{
    text-align: center;
    margin-top: 50px;
}



/*       Drop Down Class         */

.dropdown-main li{
	display: inline-block;
	margin: 0 36px;
	font-size: 20px;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #FFFFFF;
}


li a, .dropbtn {
   display: inline-block;
   color: #444444;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
   background-color: #EAEAEA;
}

li.dropdown {
   display: inline-block;
}

li a:hover, .dropdown:hover .dropdown-content {
  	display: block;
}

li a:hover, .dropdown1:hover .dropdown-content1 {
  	display: block;
}
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #ffffff;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   color: #686868;
   text-align: left;
}	

.li a, .dropbtn1 {
     display: inline-block;
     color: #444444;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}

.dropdown-content1 a:hover { 
	background-color: #D8D8D8;
}

.li a:hover, .dropdown1:hover .dropbtn1 {
     background-color: #EAEAEA;
}

.li.dropdown1 {
     display: inline-block;
}

.dropdown-content1 {
     display: none;
     position: absolute;
     background-color: #ffffff;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content1 a {
     color: #686868;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
}


	/*       Drop Down Class   - E n d      */